In [1]:
import pandas as pd

In [2]:
# Pulling in the players stats dataset
plyrs = pd.read_csv('players.csv')
plyrs.head()

,_id,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,...,draft_pick,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight
0,abdelal01,"June 24, 1968","Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,...,25th overall,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
1,abdulza01,"April 7, 1946","Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,9.0,...,5th overall,1st round,Cincinnati Royals,1968,6-9,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb
2,abdulka01,"April 16, 1947","New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,...,1st overall,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
3,abdulma02,"March 9, 1969","Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,...,3rd overall,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
4,abdulta01,"November 3, 1974","Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,...,11th overall,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb

In [3]:
plyrs = plyrs.set_index('_id')

In [4]:
plyrs.head()

,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,career_TRB,...,draft_pick,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight
_id,,,,,,,,,,,,,,,,,,,,,
abdelal01,"June 24, 1968","Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,...,25th overall,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
abdulza01,"April 7, 1946","Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,9.0,8.0,...,5th overall,1st round,Cincinnati Royals,1968,6-9,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb
abdulka01,"April 16, 1947","New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,11.2,...,1st overall,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
abdulma02,"March 9, 1969","Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,1.9,...,3rd overall,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
abdulta01,"November 3, 1974","Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,3.3,...,11th overall,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb

In [5]:
# Pulling in the players salaries dataset
salary = pd.read_csv('salaries_1985to2018.csv')
salary.head()

,league,player_id,salary,season,season_end,season_start,team
0,NBA,abdelal01,395000,1990-91,1991,1990,Portland Trail Blazers
1,NBA,abdelal01,494000,1991-92,1992,1991,Portland Trail Blazers
2,NBA,abdelal01,500000,1992-93,1993,1992,Boston Celtics
3,NBA,abdelal01,805000,1993-94,1994,1993,Boston Celtics
4,NBA,abdelal01,650000,1994-95,1995,1994,Sacramento Kings

In [6]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14163 entries, 0 to 14162
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   league        14163 non-null  object
 1   player_id     14163 non-null  object
 2   salary        14163 non-null  int64
 3   season        14163 non-null  object
 4   season_end    14163 non-null  int64
 5   season_start  14163 non-null  int64
 6   team          14159 non-null  object
dtypes: int64(3), object(4)
memory usage: 774.7+ KB

In [7]:
# Dropping the unnecessary columns in player salaries
salary = salary.drop(['league', 'season', 'season_end', 'season_start', 'team'], axis=1)
salary.head()

   player_id  salary
0  abdelal01  395000
1  abdelal01  494000
2  abdelal01  500000
3  abdelal01  805000
4  abdelal01  650000

In [8]:
# Combining the salaries into a career earnings, reducing the number of duplicate enteries.
agg_functions = {'player_id':'first', 'salary':'sum'}
career_earn = salary.groupby(salary['player_id']).aggregate(agg_functions)

In [9]:
career_earn.set_index('player_id')

             salary
player_id
abdelal01   2844000
abdulka01   8560000
abdulma02  19849500
abdulta01  37982800
abdursh01  95866000
...             ...
zidekge01   2081200
zimmest01    950000
zipsepa01   2062611
zizican01   1645200
zubaciv01   2347567

[2408 rows x 1 columns]

In [10]:
comb_plyrs_stats = pd.concat([plyrs, career_earn], axis=1)

In [11]:
comb_plyrs_stats.head()

,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,career_TRB,...,draft_team,draft_year,height,highSchool,name,position,shoots,weight,player_id,salary
abdelal01,"June 24, 1968","Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,...,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb,abdelal01,2844000.0
abdulza01,"April 7, 1946","Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,9.0,8.0,...,Cincinnati Royals,1968,6-9,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb,NaN,NaN
abdulka01,"April 16, 1947","New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,11.2,...,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb,abdulka01,8560000.0
abdulma02,"March 9, 1969","Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,1.9,...,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb,abdulma02,19849500.0
abdulta01,"November 3, 1974","Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,3.3,...,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb,abdulta01,37982800.0

In [13]:
clean_plyrs_stats = comb_plyrs_stats.dropna()

In [14]:
clean_plyrs_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1666 entries, abdelal01 to zimmest01
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   birthDate    1666 non-null   object
 1   birthPlace   1666 non-null   object
 2   career_AST   1666 non-null   float64
 3   career_FG%   1666 non-null   object
 4   career_FG3%  1666 non-null   object
 5   career_FT%   1666 non-null   object
 6   career_G     1666 non-null   int64
 7   career_PER   1666 non-null   object
 8   career_PTS   1666 non-null   float64
 9   career_TRB   1666 non-null   object
 10  career_WS    1666 non-null   object
 11  career_eFG%  1666 non-null   object
 12  college      1666 non-null   object
 13  draft_pick   1666 non-null   object
 14  draft_round  1666 non-null   object
 15  draft_team   1666 non-null   object
 16  draft_year   1666 non-null   object
 17  height       1666 non-null   object
 18  highSchool   1666 non-null   object
 19  name         1666 non-null   object
 20  position     1666 non-null   object
 21  shoots       1666 non-null   object
 22  weight       1666 non-null   object
 23  player_id    1666 non-null   object
 24  salary       1666 non-null   float64
dtypes: float64(3), int64(1), object(21)
memory usage: 338.4+ KB

In [69]:
clean_plyrs_stats = clean_plyrs_stats.drop(['player_id', 'birthDate', 'birthPlace', 'draft_team'], axis=1)

In [70]:
clean_plyrs_stats.head()

,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,career_TRB,...,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight,salary
abdelal01,"June 24, 1968","Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,3.3,...,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb,2844000.0
abdulka01,"April 16, 1947","New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,11.2,...,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb,8560000.0
abdulma02,"March 9, 1969","Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,1.9,...,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb,19849500.0
abdulta01,"November 3, 1974","Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,3.3,...,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb,37982800.0
abdursh01,"December 11, 1976","Marietta, Georgia",2.5,47.2,29.7,81.0,830,19.0,18.1,7.5,...,1st round,Vancouver Grizzlies,1996,6-9,"Wheeler in Marietta, Georgia",Shareef Abdur-Rahim,Center and Small Forward and Power Forward,Right,225lb,95866000.0

In [71]:
plyers_csv_stats = clean_plyrs_stats.to_csv('prepared_plyrs_stats.csv', index = True)
print('\nCSV String:\n', plyers_csv_stats)

CSV String:
 None